:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Montserrat Alternates", sans-serif;
}
html,
body,
div,
button,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: var(--font-family);
  font-style: inherit;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

@media (min-width: 321px) and (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 0px;
  }
}

@media (min-width: 481px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding: 0 0px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 0px;
  }
}
